*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  user-select: none;
}

.calc {
  display: grid;
  grid-template-rows: auto repeat(5, calc(25vw - 2px));
  grid-template-columns: repeat(4, calc(25vw - 2px));
  height: 100vh;
  width: 100vw;
  gap: 2px;
  background-color: black;
}

@media (min-width: 401px) {
  .calc {
    width: fit-content;
    height: 95vh;
    grid-template-rows: auto repeat(5, 15vh);
    grid-template-columns: repeat(4, 15vh);
    border-radius: 10px;
    border: black solid 2px;
    overflow: hidden;
  }
}

.display {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-right: 10%;
}

.clear {
  grid-column: span 2;
}

.zero {
  grid-column: span 3;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.number,
.clear,
.backspace {
  background-color: thistle;
}

.operation {
  background-color: orange;
}

@media (hover: hover) {
  .button:hover {
    background-color: white;
    color: black;
  }
}

.button:active {
  background-color: blue;
  color: white;
}
